@font-face {
  font-family: Canela;
  src: url("Canela-Light.otf") format("opentype");
}

html{
  height:100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #111;
}
body::-webkit-scrollbar {
  display: none;
}
.topBar {
  color: #fff;
  font-family: Poppins;
  font-weight: 200;
  position: fixed;
}
#top-left {
  left: 30px;
  transition: 0.4s ease-in-out;
  z-index: 5;
  font-style: italic;
}
#top-left:hover {
  color: #cfbd3c;
}
#top-music {
  right: 25px;
  top: 14px;
  z-index: 5;
  font-size: 1em;
  transition: 0.4s ease-in-out;
}
#top-music:hover {
  color: #A44A3F;
}
#top-play {
  right: 95px;
  top: 14px;
  z-index: 5;
  font-size: 1em;
  transition: 0.4s ease-in-out;
}
#top-play:hover {
  color: #188FA7;
}
#top-engage {
  right: 150px;
  top: 14px;
  z-index: 5;
  font-size: 1em;
  transition: 0.4s ease-in-out;
}
#top-engage:hover {
  color: #7D5BA6;
}
#main-wrapper {
  animation: 6s ease-out 0s 1 normal forwards grow;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}
#main-text {
  color: #cfbd3c;
  font-family: "Poppins";
  font-style: italic;
}
#main-img{
  display: none;
}
@keyframes grow {
  0% {
    transform: scale(0.1);
  }
  55% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
#one {
  animation: 6s ease-out 0s 1 normal forwards spin;
  position: absolute;
  z-index: -2;
}
#two {
  animation: 6s ease-out 0.3s 1 normal forwards spinTwo;
  position: absolute;
  z-index: -2;
}
#thr {
  animation: 6s ease-out 0.6s 1 normal forwards spinThr;
  position: absolute;
  z-index: -2;
  overflow: hidden;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  75% /*This 4.5 seconds in*/{
    transform: rotate(1turn);
  }
  90%{
    transform: rotate(1turn);
    fill: #cfbd3c;
  }
  95%{
    transform: rotate(1turn);
    fill: #FFF;
  }
  100% {
    transform: rotate(1turn);
    fill: #cfbd3c;
  }
}
@keyframes spinTwo {
  0% {
    transform: rotate(0deg);
  }
  75% /*This 4.5 seconds in*/{
    transform: rotate(1turn);
  }
  85%{
    transform: rotate(1turn);
    fill: #cfbd3c;
  }
  90%{
    transform: rotate(1turn);
    fill: #FFF;
  }
  95% /*This effect takes 1.2 seconds*/{
    transform: rotate(1turn);
    fill: #cfbd3c;
  }
  100% {
    transform: rotate(1turn);
    fill: #cfbd3c;
  }
}
@keyframes spinThr {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1.25turn) translate(135px, 135px);
  }
  80%{
    transform: rotate(1.25turn) translate(135px, 135px);
    fill: #cfbd3c;
  }
  85%{
    transform: rotate(1.25turn) translate(135px, 135px);
    fill: #FFF;
  }
  90%{
    transform: rotate(1.25turn) translate(135px, 135px);
    fill: #cfbd3c;
  }
  100%{
    transform: rotate(1.25turn) translate(135px, 135px);
    fill: #cfbd3c;
  }
}
#dots {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%,
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 40px 40px;
  position: relative;
  height: 100%;
  overflow: hidden;
}
#radial {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#111 20%, rgba(0, 0, 0, 0));
}
/*--------------Lower Section-------------*/
#divider{
  z-index: 1;
  position:absolute;
  animation: wiggle 10s infinite;
}
#divider2{
  z-index: 1;
  position:absolute;
  animation: wiggle 10s 1s infinite;
}
@keyframes wiggle {
  0%{
    height: 25px;
  }
  35%{
    height: 5px;
  }
  50%{
    height: 35px;
  }
  75%{
    height: 10px;
  }
  100%{
    height: 25px;
  }
}
#about{
  background: linear-gradient(180deg, rgba(125,91,166,1) 0%, rgba(176,135,224,1) 75%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
#about h1:not(.scroller h1){
  position:relative;
  color: #111;
  font-family: Canela;
  font-style: italic;
  left: 1vw;
  top: 5vh;
  font-size: 3em;
}
#about-left{
  animation: about-scroller 5s linear infinite;
  left: -400px;
}
#about-right{
  animation: about-scroller 5s linear infinite;
  right: -500px;
}
#insta{
  background: linear-gradient(48deg, rgba(64,93,230,1) 0%, rgba(193,53,132,1) 36%, rgba(247,119,55,1) 75%, rgba(255,220,128,1) 100%);
  padding: 5px 6.5px 7px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 1s;
}
#insta:hover{
  background: linear-gradient(48deg, rgb(40, 56, 137) 0%, rgb(122, 36, 85) 36%, rgb(132, 69, 37) 75%, rgb(145, 125, 73) 100%);
  padding: 5px 6.5px 7px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#tiktok{
  background-color: #000;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tiktok:hover{
  background-color: #111;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttons{
  display: flex;
  gap: 10px;
}
#twitter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#reach{
  width: 40px;
  height: 40px;
  padding: 2.5px;
  background-color: #111;
  border-radius: 10px;
}
#reach svg:hover{
  animation: rotate360 1.2s ease-in-out infinite;
}
#reach svg:not(:hover){
  animation: rotate360 1.2s ease-in-out 6000s infinite; 
}
@keyframes rotate360 {
  to { transform: rotate(360deg); }           
}

@keyframes about-scroller {
  0%{
    transform: translate(0,-1.931em) rotate(-75deg);
  }
  100%{
    transform: translate(-1.0352em,1.931em) rotate(-75deg);
  }
}
#about p{
  position: relative;
  top: 10px;
  left: 30px;
  width:50%;
  font-family: 'Golos Text';
}
#socials{
  position: relative;
  left:-1em;
  top: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 30px;
}
#line{
  position: relative;
  background-color: #111;
  width: 55%;
  height: 5px;
  top: 10px;
  left: 20px;
  border-radius: 5px;
}
#music{
  background: linear-gradient(180deg, rgba(164,74,63,1) 0%, rgba(124,28,51,1) 75%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 900px;
  width: 100%;
  padding-top: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  user-select: none;
}
#music-left{
  animation: music-scroller 3s linear infinite;
  left: -700px;
}
#music-right{
  animation: music-scroller 3s linear infinite;
  right:-900px;
}
@keyframes music-scroller {
  0%{
    transform: translate(0,-1.54581em) rotate(-75deg);
  }
  100%{
    transform: translate(-0.82822em,1.54581em) rotate(-75deg);
  }
}
#play{
  background: linear-gradient(180deg, #188FA7 0%, #0c5867 75%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 800px;
  width: 100%;
  padding-top: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#play-top{
  animation: play-scroller 3s linear infinite;
  top: -100px;
}
@keyframes play-scroller{
  0%{
    transform: translate(1.175em,0);
  }
  100%{
    transform: translate(-1.175em,0);
  }
}
.scroller{
  position:absolute;
  font-family: Poppins;
  font-size: 9em;
  color:rgba(0, 0, 0, 0);
  text-transform: uppercase;
  -webkit-text-stroke: #FFF;
  -webkit-text-stroke-width: 1px;
  z-index: 0;
  overflow: hidden;
  display: flex;
  align-items:center;
  user-select: none;
}
.scroller h2{
  font-size: 1em;
  color:rgba(0, 0, 0, 0);
}
.scroller h1{
  font-size: 1em;
  color:#fff;
}

#footer{
  height: 10px;
  background-color: #111;
  position: relative;
  justify-content: center;
}
#left-rounded{
  top: -200px;
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  box-shadow: -100px 100px 0 0 #111;
}
#right-rounded{
  top: -200px;
  right:0;
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  box-shadow: 100px 100px 0 0 #111;
}
#footerText{
  display: flex;
  justify-content: center;
}
#footer p{
  color: #fff;
  font-family: sans-serif;
}